---
import { Image } from "astro:assets";
import Notion from '../assets/notion.svg'
import Inter from '../assets/intercom.svg'
import Descript from '../assets/descript.svg'
import Gram from '../assets/grammarly.svg'
import Unsp from '../assets/unsplash.svg'
---

<div class="flex flex-col items-center gap-[60px] justify-center w-full mt-40">
    <h2 class="text-[40px] font-bold">
      More than 25,000 teams use Collabs
    </h2>
    <div class="flex gap-10 items-center justify-center w-full ">
      <div class="flex items-center justify-center gap-5">
        <Image src={Unsp} height={32} width={32} alt={"logo1"} />
        <span class="text-gray text-3xl font-semibold">
          Unsplash
        </span>
      </div>
      <div class="flex items-center justify-center gap-5">
        <Image
          src={Notion}
          height={32}
          width={32}
          alt={"logo1"}
        />
        <span class="text-gray text-3xl font-semibold">
          Notion
        </span>
      </div>
      <div class="flex items-center justify-center gap-5">
        <Image
          src={Inter}
          height={32}
          width={32}
          alt={"logo1"}
        />
        <span class="text-gray text-3xl font-semibold">
          INTERCOM
        </span>
      </div>
      <div class="flex items-center justify-center gap-5">
        <Image
          src={Descript}
          height={32}
          width={32}
          alt={"logo1"}
        />
        <span class="text-gray text-3xl font-semibold">
          descript
        </span>
      </div>
      <div class="flex items-center justify-center gap-5">
        <Image src={Gram} height={32} width={32} alt={"logo1"} />
        <span class="text-gray text-3xl font-semibold">
          grammarly
        </span>
      </div>
    </div>
</div>







