---
import { Image } from "astro:assets";
import Notion from '../assets/notion.png'
import Inter from '../assets/inter.png'
import Descript from '../assets/descript.png'
import Gram from '../assets/gram.png'
import Unsp from '../assets/unsp.png'
---

<div class="flex flex-col items-center gap-[60px] justify-center w-full mt-40">
    <h2 class="text-[40px] font-bold">
      More than 25,000 teams use Collabs
    </h2>
    <div class="flex gap-10 items-center justify-center w-full ">
      <div class="flex items-center justify-center gap-5">
        <Image src={Unsp} height={32} width={32} alt={"logo1"} />
        <span class="text-[#A6A6A6] text-3xl font-semibold">
          Unsplash
        </span>
      </div>
      <div class="flex items-center justify-center gap-5">
        <Image
          src={Notion}
          height={32}
          width={32}
          alt={"logo1"}
        />
        <span class="text-[#A6A6A6] text-3xl font-semibold">
          Notion
        </span>
      </div>
      <div class="flex items-center justify-center gap-5">
        <Image
          src={Inter}
          height={32}
          width={32}
          alt={"logo1"}
        />
        <span class="text-[#A6A6A6] text-3xl font-semibold">
          INTERCOM
        </span>
      </div>
      <div class="flex items-center justify-center gap-5">
        <Image
          src={Descript}
          height={32}
          width={32}
          alt={"logo1"}
        />
        <span class="text-[#A6A6A6] text-3xl font-semibold">
          descript
        </span>
      </div>
      <div class="flex items-center justify-center gap-5">
        <Image src={Gram} height={32} width={32} alt={"logo1"} />
        <span class="text-[#A6A6A6] text-3xl font-semibold">
          grammarly
        </span>
      </div>
    </div>
</div>







